/* CSS reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #F2F2F2;
}

body {
  font-family: Ubuntu, Cantarell, "Segoe UI";
  background-color: #404040;
  margin: 0;
  padding: 0;
}

/* Books temporary displays */
.library-shelf {
  padding: 12px 24px;
  font-size: 24px;
}

/* Individual books displays */
.library-book {
  padding: 12px 24px;
  margin: 12px 24px;
  border: 5px solid orange;
  border-radius: 12px;
  background-color: #303030;
}

/* Spacing for text clarity */
p {
  padding: 4px 0px;
}

/* Add book section */
.add-book {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* Add book button */
.add-book-btn {
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #1DA1F2;
}

/* Dialog box element */
.addBookDialog {
  border-radius: 12px;
}

/* Add book form section */
.addBookForm {
  max-height: 350px;
  max-width: 425px;
  padding: 12px 24px;
  background-color: #404040;
}

/* Form fields container */
.addBookFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  background-color: #404040;
}

/* Input fields defaults */
input {
  color: black;
  border-radius: 12px;
  padding: 12px 6px;
}

/* Temporary for visualization */
.blackBtn, #showDialog {
  color: black;
}

/* Checkbox minimum size */
input[type=checkbox] {
  width: 24px;
  height: 24px;
}
