/* CSS reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  font-family: Ubuntu, Cantarell, "Segoe UI";
  background-color: #FAF4ED;
  margin: 0;
  padding: 0;
}

/* Spacing for text clarity */
p {
  padding: 4px 0px;
}

/* Input fields defaults */
input {
  color: black;
  border-color: lightgray;
  border-width: 3px;
  border-radius: 8px;
  padding: 12px 6px;
}

/* Focus status border */
input:focus {
  border-color: blue;
  outline: none;
}

/* Reposition dialog modal */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Books temporary displays */
.library-shelf {
  padding: 12px 24px;
  font-size: 24px;
}

/* Individual books displays */
.library-book {
  padding: 12px 24px;
  margin: 12px 24px;
  border: 5px solid orange;
  border-radius: 8px;
  background-color: #F5F5DC;
}

/* Add book section */
.add-book {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* Add book button */
.add-book-btn {
  font-size: 24px;
  font-weight: 600;
  color: #F2F2F2;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #1DA1F2;
}

/* Add book on hover */
.add-book-btn:hover {
  background-color: #396FAF;
}

/* Dialog box element */
.add-book-dialog {
  border-radius: 8px;
}

/* Add book form section */
.add-book-form {
  height: 360px;
  width: 420px;
  padding: 12px 24px;
  background-color: #F5F5DC;
}

/* Form fields container */
.add-book-fields {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 0.3fr 0.75fr;
  gap: 16px;
  background-color: #F5F5DC;
}

/* Labels and inputs positioning */
.book-title-field,
.book-author-field,
.book-pages-field {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/* Read status field */
.book-status-field {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

/* Modal buttons spacing */
.add-book-btns-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  > button {
    font-weight: 550;
    font-size: 16px;
    border-radius: 8px;
    color: white;
  }
}

/* Cancel+Confirm btns regular */
.cancel-btn  { background-color: #C83D2E; }
.confirm-btn { background-color: #4A90E2; }

/* Remove Calcel+Confirm borders */
.cancel-btn,
.confirm-btn {
  border: none;
}

/* Cancel+Confirm btns hover */
.cancel-btn:hover  { background-color: #942D22; }
.confirm-btn:hover { background-color: #396FAF; }

/* Temporary trigger for modal */
.show-dialog-btn {
  border-radius: 8px;
  background-color: #4A90E2;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  width: 180px;
}

/* Apply blur modal trigger */
.modal-blur {
  filter: blur(5px);
  pointer-events: none;
}
